.common-layout {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .common-layout__main {
    flex: 1;
    display: flex;
    background-color: whitesmoke;
    overflow-y: auto;
  }
}