@use '../../constants/layoutConstants' as *;

.header {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  height: $header--height;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;

  .header__nav {
    display: flex;
    justify-content: start;
    align-items: center;

    .header__nav__logo {
      width: $header__logo--size;
      height: $header__logo--size;
      padding-left: $header__logo--padding;

      .logo {
        @extend .logo
      }
    }

    .header__nav__menu {
      width: $header__menu--size;
      height: $header__menu--size;
      padding-left: $header__menu--padding;

      color: grey;
    }

    .header__nav__menu .menu {
      object-fit: contain;
    }
  }

  .header__social {
    display: flex;
    justify-content: end;
    align-items: center;

    .header__social__discord {
      width: $header__social__discord--size;
      height: $header__social__discord--size;
      padding-right: $header__social__discord--padding;
    }

    .header__social__discord .discord {
      object-fit: contain;

      .logo {
        @extend .logo
      }
    }

    .header__social__account {
      width: $header__social__account--size;
      height: $header__social__account--size;
      padding-right: $header__social__account--padding;
      display: flex;
    }

    .header__social__account .account {
      object-fit: contain;


      .logo {
        border: 0.8px solid lightgrey;
        @extend .logo
      }
    }

  }

  .logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}