@use '../layoutConstants' as *;

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: $header--height;
  background-color: yellow;

  .header__nav {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
  }

  .header__social {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
  }
}