{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "semi": true,
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 140,
  "arrowParens": "always",
  "bracketSpacing": true,
  "trailingComma": "all"
}