@use '../../constants/commonConstants' as *;

.common-editor {
  padding: $editor__padding;
  border: $editor__border__size solid #cacad6;
  height: calc($editor__toolbar__height + $editor__contents__height);

  .tiptap {
    height: calc($editor__contents__height - $editor__padding - ( $editor__border__size * 2));
    overflow-y: auto;
    .ProseMirror {
    }
  }
}