$paper__padding: 1.5rem;
$paper__content__height__padding: 1.5rem;
$paper__content__width__padding--large: 15%;
$paper__content__width__padding--small: 5%;


$text-field__input__height--small: 40px;
$text-field__input__height--medium: 56px;
