$paper__padding: 1.5rem;
$paper__header__size: 20px;

$paper__content__height__padding: 1.5rem;
$paper__content__width__padding--large: 5%;
$paper__content__width__padding--small: 1%;

$text-field__input__height--small: 40px;
$text-field__input__height--medium: 56px;

$editor__min__width: 600px;
$editor__common__color: #cccc;
$toolbar__height: 32px;
$toolbar__divider__height: 24px;
$toolbar__active__color: #e7e7e7;