$header--height: 50px;
$header__logo--size: 50px;
$header__logo--margin: 50px;
$header__menu--size: 50px;
$header__menu--margin: 50px;
$header__social__discord--size: 50px;
$header__social__discord--margin: 10px;
$header__social__account--size: 50px;
$header__social__account--margin: 20px;

$snb__custom-drawer--width: 300px;
$snb__list__item-button__icon--width: 64px;

$footer--height: 40px;

