$header--height: 60px;
$header__logo--size: 60px;
$header__logo--padding: 50px;
$header__menu--size: 50px;
$header__menu--padding: 50px;
$header__social__discord--size: 50px;
$header__social__discord--padding: 10px;
$header__social__account--size: 50px;
$header__social__account--padding: 20px;

$snb__custom-drawer--width: 300px;
$snb__list__item-button__icon--width: 64px;

$footer--height: 50px;