$login__container__side__padding: 15%;
$login__button_height: 40px;

$paper__padding: 1.5rem;
$paper--weight: 600px;
$paper--height: 500px;
$social__icon__container__width: 10%;



$social__color--google: #FFFFFF;
$social__font--color--google: #1F1F1F;
$social__color--kakao: #FEE500;
$social__font__color--kakao: #191919;
$social__color--naver: #03C75A;
$social__font__color--naver: #FFFFFF;