@use '../../constants/commonConstants' as *;
@use '../../constants/userInfoConstants' as *;

.user-info-page {
  flex: 1;
  display: flex;

  .user-info-page__section-title {
    padding: 1rem 0;
    font-weight: bold;
    font-size: 18px;
  }

  .user-info-page__profile-section {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: $profile-section__gap;

    .profile-section__input-section {

      @extend .common-input-section;
    }

    .profile-section__avatar-section {
      flex-shrink: 0; // 부모 크기에 의해 늘어나지 않도록 설정
      display: flex;
      width: min($profile-container-__profile-size, 100%);
      height: min($profile-container-__profile-size, 100%);
      aspect-ratio: 1/1; // 정사각형 유지
      align-items: center;
      justify-content: center;

      .avatar_section__avatar--read {

      }

      .avatar_section__avatar--modify {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .user-info-page__sync-section {

    @extend .common-input-section
  }


  .user-info-page__button-section {
    display: flex;
    height: $paper__button-section__height;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;


    .button-section__connection-container {
      display: flex;
      gap: $paper__button-section__button__gap;

      .connection-container__platform-button {
        background-color: #F57C00;
        color: white;
      }

      .connection-container__social-button {
        background-color: #7E57C2;
        color: white;
      }
    }

    .button-section__modify-container {
      display: flex;
      margin-left: auto;
      gap: $paper__button-section__button__gap;

      .modify_container__modify-button {

      }
    }
  }
}

.common-input-section {

  flex: 1;
  display: flex;
  flex-direction: column;

  .input-section__text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .input-section__input-container {
    display: flex;
    align-items: center;
    gap: $input-container__gap;

    .input-container__label {
      min-width: $input-container__min-width;
      max-width: $input-container__max-width;
      margin-bottom: calc($text-field__input__helpText__size)
    }

    .input-container__contents {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: start;
      flex-direction: column;
      padding: 10px 14px;

      .contents__platform-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        flex-direction: row;
        gap: 7%;

        .platform-container__platform-name {
          width: 30%;
        }

        .platform-container__platform-user-id {
          flex: 1;
        }
      }
    }
  }
}