@use '../../constants/signUpConstants' as *;
@use '../../constants/commonConstants' as *;

.sign-up-page {
  flex:1;
  height: 100%;
  display: flex;

  .sign-up-page__input-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $input-container__gap;
    margin-bottom: 1%;

    //.input-container__button {
    //  display: flex;
    //  align-items: end;
    //  font-size: $text-field__button__font-size;
    //
    //  margin-bottom: calc($text-field__input__helpText__size + ($text-field__input__height--medium / 2) - ($text-field__button__font-size /2)) ;
    //}
  }
}