@use '../../constants/commonConstants' as *;

.user-info-page {
  flex: 1;
  display: flex;

  .user-info-page__input-section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .input-section__input-container {
      display: flex;
      align-items: center;

      .input-container__label {
        width: 30%;
        margin-bottom: calc($text-field__input__helpText__size)
      }

      .input-container__text-field {
        padding-left: 10%;
      }
    }
  }

  .user-info-page__button-section {
    display: flex;
    height: $paper__button-section__height;
    flex-shrink: 0;
    justify-content: end;
    align-items: center;
    gap: $paper__button-section__button__gap;
  }
}